button{
    width: 75px;
    height:35px ;
    
   
}

#sign-up{
    background-color: #0066ff;
    border-radius:10px;
    color: white;
    border: none;
    font-size: 16px;
}

#sign-in{
    background: none;
    border: none;
    font-size: 16px;
}